

<div class="sub_Container">
  <div class="card-columns">
    <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
      <div class="card-header">
        Fees Counter
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/show_fee_details">Fees Details</a></li>
        <!-- <li class="list-group-item"><a href="/payments_online">Pay Fee Online</a></li> -->
        <li class="list-group-item">  
          <%= link_to "pay Online", payments_online_path %>
        </li>
        <li class="list-group-item"><a href="#">Other Charges Details</a></li>
        <li class="list-group-item"><a href="#">Online Fee Transaction Status</a></li>
        <li class="list-group-item"><a href="/receipts">Fee Receipts</a></li>
      </ul>
    </div>

    <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
      <div class="card-header">
        Academics Counter
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">Academic Calender</a></li>
        <li class="list-group-item"><a href="#">Syllabus</a></li>
        <li class="list-group-item"><a href="#">Time Table</a></li>
        <li class="list-group-item"><a href="/index_exam_results">Exam Results</a></li>
        <li class="list-group-item"><a href="#"></a>Academic History</li>
      </ul>
    </div>

    <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
      <div class="card-header">
        Courses
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/registered_courses">Registered Courses</a></li>
        <li class="list-group-item"><a href="/edit_courses">Edit Courses</a></li>
        <li class="list-group-item"><a href="#">All Courses</a></li>
      </ul>
    </div>

    <!-- <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
      <div class="card-header">
        Course Details
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#">Course name</a></li>
        <li class="list-group-item"><a href="#">Subjects Opted</a></li>
        <li class="list-group-item"><a href="#">Subjects Completed</a></li>
        <li class="list-group-item"><a href="#">Credits Earned</a></li>
        <li class="list-group-item"><a href="#">Credits Failed</a></li>
      </ul>
    </div> -->
  </div>
</div>