
<div class="card-columns">
  <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
    <div class="card-header">
      Money Transaction Counter
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="/show_salary_details">Salary Details</a></li>
      <li class="list-group-item">  
        <%= link_to "pay Online", payments_online_path %>
      </li>
      <li class="list-group-item"><a href="#">Tuition Fee Details</a></li>
      <li class="list-group-item"><a href="#">Online Fee Transaction Status</a></li>
      <li class="list-group-item"><a href="#">Fee Receipts</a></li>
    </ul>
  </div>

  <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
    <div class="card-header">
      Academics Counter
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Academic Calender</a></li>
      <li class="list-group-item"><a href="#">Syllabus</a></li>
      <li class="list-group-item"><a href="#">Time Table</a></li>
      <li class="list-group-item"><a href="/index_exam_results">Exam Results</a></li>
      <li class="list-group-item"><a href="#"></a>Academic History</li>
    </ul>
  </div>

  <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
    <div class="card-header">
      Courses
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Registered Courses</a></li>
      <li class="list-group-item"><a href="#">Apply for Course</a></li>
      <li class="list-group-item"><a href="#">All Registered Courses</a></li>
    </ul>
  </div>

  <!-- <div class="card" style="width: 25rem; height: 20rem; margin: 4%">
    <div class="card-header">
      Course Details
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Course name</a></li>
      <li class="list-group-item"><a href="#">Subjects Opted</a></li>
      <li class="list-group-item"><a href="#">Subjects Completed</a></li>
      <li class="list-group-item"><a href="#"></a>Credits Earned</li>
      <li class="list-group-item"><a href="#"></a>Credits Failed</li>
    </ul>
  </div> -->
</div>
