<h3>Search Results for <%= @parameter %> in <%= params[:search_category] %></h3>


<div class="card-deck row">
  <% if @results.empty? %>
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <h4>No matching results to your query.</h4>
        <h4>Try something else.</h4>
    </div> 
  <% end %>


  <% @results.each do |result| %>
    <div class="card" style="width: 18rem; margin: 2%;">

      <img class="card-img-top" src= "<%#Institute Logo%><%= image_path('school_student1.jpg')%>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text_secondary"><%= result.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>

      <%#= link_to result do %>
      <div class="card-footer bg-transparent text-success">Visit</div>
      <%# end %>
    </div>
  <% end %>
</div>


<!-- <div class="card bg-dark text-white" style="width: 18rem;">
  <img class="card-img" src= "<%#= image_path('school_student1.jpg')%>" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div> -->


<!-- --------------------------------------------- -->

<!-- <div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header text-dark"><%#= result.name %></div>
      
    <div class="card-body">
          <img class="card-img" src= "<%#= image_path('school_student1.jpg')%>" alt="Card image">

      <div class="card-img-overlay">
      
      <h5 class="card-title text-danger">Primary card title</h5>
      <p class="card-text text-info">Some quick example text.</p>
    </div></div>
  <%#= link_to result do %>
  <div class="card-footer bg-transparent">More info</div>
  <%# end %>
</div> -->

<!-- ---------------------------------------------- -->


<!-- <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success">Header</div>
  <div class="card-body text-success">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-footer bg-transparent border-success">Footer</div>
</div> -->
